* {
    margin: 0;
}

.pai {

}

.filha1, .filha2 {
    width: 300px;
    height: 300px;
    background-color: red;
    margin: 10px;
    position: static;
}

.filha2 {
    position: absolute;
    background-color:aquamarine;
    left: 100px;
    top: -50px;
    z-index: 1;
}

.filha1 {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 2;
}