* {
    margin: 0;
    padding: 0;
}

.grid {
    padding: 5px;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    float: left;
    padding: 5px;
}

.grid .col-content{
    width: 100%;
    height: 100%;
    background-color: red;
}