* {
    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: yellow;
    height: 1000px;;
}

.flex-item {
    background-color: red;
    margin: 3px;
    padding: 2px;
    border-radius: 3px;
}