p {
    font-size: 30px;
    /* color: red;
    background-color: aquamarine;
    font-style: italic;
    font-weight: bold;
    direction: ltr;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 40px;
    text-align: center;
    text-decoration: underline; */
    text-shadow: 2px 2px 5px red;
    text-transform: uppercase;
}