* {
    margin: 0;
    padding: 0;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    display: block;
    margin: 20px;
    width: 300px;
    height: 300px;
    background: red;
    float: right;
}