* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.father {
    width: 100vw;
    height: 100vw;
    padding: 10px;
    font-size: 50px;
    overflow: hidden;
}

p {
    font-size: 2rem;
}